.lead {
    max-width: 984px;
    min-width: 320px;
    box-sizing: border-box;
    margin: 56px auto 0;
    padding: 0;
}

@media screen and (max-width: 1024px) {
    .lead{
        margin-top: 48px;
        padding: 0 48px;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        padding: 0;
    }
}